<section id="contact" class="contact-section">
  <div class="contact-wrapper">

    <h2 class="contact-title">
      {{ translationService.translate('contact.title') }}
    </h2>

    <p class="contact-subtitle">
      {{ translationService.translate('contact.subtitle') }}
    </p>

    <div class="contact-card">
      
      <a href="mailto:inessmhamed@gmail.com" class="contact-item">
        <span class="icon">✉️</span>
        {{ translationService.translate('contact.email') }}
      </a>

      <a href="tel:+21693988526" class="contact-item">
        <span class="icon">📞</span>
        {{ translationService.translate('contact.phone') }}
      </a>

      <a href="https://www.linkedin.com/in/mhamed-ines/" target="_blank" class="contact-item">
        <span class="icon">↗</span>
        {{ translationService.translate('contact.linkedIn') }}
      </a>

    </div>

  </div>
</section>